<%- include('components/head') %>

<section class="main-container">
  <section class="section-login">
    <div class="login-container">
      <h1>Welcome back!</h1>
      <h3>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse ab debitis
        vitae est provident cum aut asperiores, eius laborum. Dignissimos quis
        reprehenderit facilis sed, perspiciatis hic vitae nihil officiis autem.
      </h3>
      <form id="registerForm" action="/login-submit" method="POST">
        <div class="input-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit" class="btn">Register</button>
      </form>
    </div>
    <div class="login-image-container">
      <img src="images/august.jpg" alt="">
    </div>  
  </section>
</section>

<%- include('components/foot') %>
